@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
:root {
  --gold-primary: #D4AF37;
  --gold-light: #F4E8C1;
  --silver: #C0C0C0;
  --dark-bg: #0a0a0a;
  --darker-bg: #050505;
}
@theme {
  --font-cinzel: "Cinzel", serif;
  /* color  */
  --color-gold: var(--gold-primary);
  --color-gold-light: var(--gold-light);
  --color-silver: var(--silver);
  --color-dark-bg: var(--dark-bg);
  --color-darker-bg: var(--darker-bg);
  /* shadow  */
  --shadow-gold-glow: 0px 0px 10px 5px #ffd7006e;
  --shadow-red-glow: 0px 0px 10px 5px rgba(255, 0, 0, 0.44);
  --shadow-silver-glow: 0px 0px 10px 5px rgba(192, 192, 192, 0.44);
  --shadow-blue-glow: 0px 0px 10px 5px rgba(0, 0, 255, 0.44);
  --shadow-green-glow: 0px 0px 10px 5px rgba(0, 128, 0, 0.44);
}
